﻿@model EasyAnime.Web.Models.CatalogViewModel.CategoryViewModel;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;
@using X.PagedList;

<style>
    .year-block {
        position: absolute;
        color: #333;
        font-weight: 400;
        right: 0;
        padding: 2px 10px;
        background: #e2e2e2;
        right: 15px;
    }

    .anime-title {
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        display: block;
        color: #333;
        font-size: 15px;
    }

    .image-block img {
        max-width: 100%;
        height: 400px;
        width: 350px;
        display: block;
    }
</style>

<h1>@Model.GenreName</h1>
<div class="form-group search">
    <button onclick="FindByName('@Model.GenreNameForRoute')" style="border-radius: 0px 10px 10px 0px;" class="btn btn-primary col-md-1 text-white float-right">Найти</button>
    <input class="searchBook float-right form-control col-md-4" style="border-radius: 10px 0px 0px 10px;" placeholder="Введите название книги..." value="@Model.Search">
    <div class="row">
        <select class="sortSelect form-control col-md-5" onchange="NewParameterInUrlFromSelect('sortSelect', 'sortOrder')">
            @foreach (var item in Model.Sort)
            {
                <option value="@item.Item2" selected="@(Model.SortOrder == item.Item2)">@item.Item1</option>
            }
        </select>
    </div>
</div>

@if (Model.TotalCount > 0)
{
    <div class="row">
        @foreach (var book in Model.BookViewModels)
        {
            <div class="anime-column col-md-3">
                <div class="image-block">
                    <span class="year-block">@book.Year</span>
                    <img src="@book.ImageUrl" alt="Text">
                </div>
                <div class="anime-column-info">
                    <a class="anime-title text-center" asp-action="Item" asp-controller="Catalog" asp-route-itemName="@book.NameForRoute">@book.Name</a>
                </div>
            </div>
        }
    </div>
}
else
{
    <h5 class="text-danger">Книги не найдены!</h5>
}

@if (Model.TotalCount > ViewBag.CountOnPage)
{
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Category", new { bookName = ViewBag.Search, page = page, sortState = Model.SortOrder, }),
    new PagedListRenderOptionsBase
    {
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    })

    @section Scripts{
        <script>
            $(document).ready(function () {
                $('ul.pagination > li.disabled > a').addClass('page-link');
            });
        </script>
    }
}

<script src="~/js/catalog.js"></script>