﻿@{
    ViewData["Title"] = "Index";
}

<div class="btn-group">
    <a class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Категории</a>
    <div class="dropdown-menu">
        @foreach (var genre in ViewBag.GenreNames)
        {
            <a asp-action="Category" asp-controller="Catalog" class="dropdown-item" asp-route-categoryName="@genre.NameForRoute">@genre.Name</a>
        }
    </div>
</div>