﻿@model EasyAnime.Web.Models.CatalogViewModel.ItemViewModel;
@using EasyAnime.BLL.Dto.Order;
@{
    ViewData["Title"] = "Item";
}
<style>
    .image-block img {
        max-width: 100%;
        height: 400px;
        width: 350px;
        display: block;
    }

    .user-name {
        color: red;
        font-size: 18px;
    }

    .content-img {
        margin-bottom: 10px;
    }

    .content-body {
        margin-left: 15px;
    }

    .comments-block{
        margin-top: 55px;
    }

    .created-time {
        font-size: 14px;
    }

    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 5px;
        display: block;
    }
</style>
<div class="row book-block">
    <div class="title col-md-5" style="font-size: 25px;"><b>@Model.Book.Name</b></div>
    <dl class="col-md-9">
        <dt>Автор</dt>
        <dd>@Model.Book.Author</dd>

        <dt>Год производства</dt>
        <dd>@Model.Book.Year</dd>

        <dt>Жанры</dt>
        <dd>
            @foreach (var genre in Model.Book.Genres)
            {
                <a asp-action="Category" asp-controller="Catalog" asp-route-categoryName="@genre.NameForRoute">@genre.Name, </a>
            }
        </dd>

        <dt>Цена</dt>
        <dd>@Model.Book.Price р</dd>

        <dt>Описание</dt>
        <dd>@Model.Book.Description</dd>
    </dl>
    <div class="image-block col-md-3">
        <img src="@Model.Book.ImageUrl" alt="Alternate Text" />
        @if(User.Identity.IsAuthenticated)
        {
            <button class="btn btn-primary btn-block" onclick="ShowModalOrder('@Model.Book.NameForRoute')" style="margin-top: 10px;">Оформить заказ</button>
        }
    </div>
</div>

<div class="row comments-block">
    <h4 class="comment-title col-md-9">Комментарии</h4>
    @if(User.Identity.IsAuthenticated)
    {
        <button class="btn btn-primary col-md-3" onclick="ShowModalCreateComment()" style="margin-bottom: 10px">Добавить комментарий</button>
    }
    else
    {
        <div class="col-md-3"></div>
    }
    @foreach (var comment in Model.Comments)
    {
        <div class="content-img col-md-1">
            <img src="~/data/avatars/@(comment.UserAvatar)" alt="Аватарка" class="avatar" />
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="content-body col-md-9">
                <div class="comment-header-block">
                    <div class="">
                        <span class="user-name">@comment.UserName</span>
                    </div>
                    <div class="">
                        <span class="created-time text-muted">@comment.AddedTime</span>
                    </div>
                </div>
                <div class="comment-text-block">
                    <span class="comment-text">@comment.CommentText</span>
                </div>
            </div>
            <div class="col-md-1">
                <button class="btn btn-danger" onclick="DeleteComment(@comment.Id)">X</button>
            </div>
        }
        else
        {
            <div class="content-body col-md-10">
                <div class="comment-header-block">
                    <div class="">
                        <span class="user-name">@comment.UserName</span>
                    </div>
                    <div class="">
                        <span class="created-time text-muted">@comment.AddedTime</span>
                    </div>
                </div>
                <div class="comment-text-block">
                    <span class="comment-text">@comment.CommentText</span>
                </div>
            </div>
        }
    }
</div>

<dialog id="demo-modal" class="create-order">
    <div class="modal-header">
        <h5>Оформление заказа</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CloseModalOrder()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="InfoAboutOrder"></div>
        <button class="btn btn-primary btn-block" style="margin-top: 20px;" onclick="MakeOrder()">Купить</button>
    </div>
</dialog>

<dialog id="demo-modal" class="create-comment">
    <div class="modal-header">
        <h5>Добавление комментария</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CloseModalCreateComment()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <p class="info"></p>
        </div>
        <div class="form-group">
            <label>Текст</label>
            <textarea class="form-control" name="CommentText"></textarea>
            <input type="hidden" name="BookNameForRoute" value="@Model.Book.NameForRoute" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" onclick="AddComment()">Добавить</button>
        </div>
    </div>
</dialog>

<script>
    const modalOrder = document.querySelector('.create-order');
    const modalComment = document.querySelector('.create-comment');

    function ShowModalOrder(bookName) {
        $('.InfoAboutOrder').load('/Order/Make?bookName=' + bookName);
        modalOrder.showModal();
    }

    function CloseModalOrder() {
        modalOrder.close();
    }

    function ShowModalCreateComment() {
        modalComment.showModal();
    }

    function CloseModalCreateComment() {
        modalComment.close();
    }
</script>
<script src="~/js/catalog.js"></script>