﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

#demo-modal {
    border: 1px solid black;
    border-radius: 7px;
    position: absolute;
    top: 130px;
    min-width: 350px;
}

.blue-round {
    border-radius: 100%;
    background-color: #b3b3ff;
    height: 20px;
    width: 20px;
    margin-left: 17px;
}

.yellow-round {
    border-radius: 100%;
    background-color: #ecec55;
    height: 20px;
    width: 20px;
    margin-left: 17px;
}

.green-round {
    border-radius: 100%;
    background-color: #21f621;
    height: 20px;
    width: 20px;
    margin-left: 17px;
}


.descr {
    display: none;
    margin-left: -350px;
    background: #e2ffdd;
    -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    width: 100px;
    float: right;
}

.status:hover .descr {
    display: block;
    position: relative;
    top: 27px;
    z-index: 9999;
}
