﻿@using EasyAnime.BLL.Helpers.Constants;
@model EasyAnime.BLL.Dto.Order.OrderDto;
@{
    Layout = "";
}

<div class="form-group">
    <p class="info"></p>
    <select class="selectStatus form-control" onchange="ChangeOrderStatus()">
        <option value="@OrderStatus.Process" selected="@(OrderStatus.Process == Model.Status)">В процессе</option>
        <option value="@OrderStatus.Sent" selected="@(OrderStatus.Sent == Model.Status)">Отправленно</option>
        <option value="@OrderStatus.Ready" selected="@(OrderStatus.Ready == Model.Status)">Готово</option>
    </select>
    <input type="hidden" asp-for="OrderId" value="@Model.OrderId" />
</div>
