﻿@model EasyAnime.BLL.Dto.Order.OrderDto;
@{
    Layout = "";
}
<div class="form-group">
    <p class="info"></p>
    @Html.Label("Email", "Email")
    <input type="email" asp-for="Email" class="form-control" />
    @Html.Label("Адресс", "Адресс")
    <input type="text" asp-for="Address" class="form-control" value="@Model.Address" />
    <input type="hidden" name="BookName" value="@Model.BookName" />
</div>