﻿@model EasyAnime.Web.Models.OrderViewModel.MyOrderViewModel;
@using EasyAnime.BLL.Helpers.Constants;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;
@using X.PagedList;

@{
    ViewData["Title"] = "OrdersList";
}

<h1>Мои заказы</h1>
<div class="form-group search">
    <div class="row">
        <select class="sortSelect form-control col-md-5" onchange="NewParameterInUrlFromSelect('sortSelect', 'SortOrder')">
            @foreach (var item in Model.Sort)
            {
                <option value="@item.Item2" selected="@(Model.SortOrder == item.Item2)">@item.Item1</option>
            }
        </select>
    </div>
</div>
@if (Model.TotalCount > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Адресс</th>
                <th>Название книги</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderDtos)
            {
                <tr>
                    <th>@item.Address</th>
                    <th><a asp-action="Item" asp-controller="Catalog" asp-route-itemName="@item.BookNameForRoute">@item.BookName</a></th>
                    <th>
                        @{
                            if (item.Status == OrderStatus.Process)
                            {
                                <div class="status text-center blue-round">
                                    <div class="descr">В процессе</div>
                                </div>
                            }
                            else if (item.Status == OrderStatus.Sent)
                            {
                                <div class="status text-center yellow-round">
                                    <div class="descr">Отправлено</div>
                                </div>
                            }
                            else if (item.Status == OrderStatus.Ready)
                            {
                                <div class="status text-center green-round">
                                    <div class="descr">Готово</div>
                                </div>
                            }
                        }
                    </th>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h5 class="text-danger">У вас нет заказов</h5>
}

@if (Model.TotalCount > Model.CountOnPage)
{
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("MyOrders", new { page = page, sortState = Model.SortOrder }),
    new PagedListRenderOptionsBase
    {
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    })

    @section Scripts{
        <script>
            $(document).ready(function () {
                $('ul.pagination > li.disabled > a').addClass('page-link');
            });
        </script>
    }
}