﻿@model EasyAnime.Web.Models.OrderViewModel.OrdersListViewModel;
@using EasyAnime.BLL.Helpers.Constants;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;
@using X.PagedList;

@{
    ViewData["Title"] = "OrdersList";
}

<h1>OrdersList</h1>
<div class="form-group search">
    <button onclick="FindByLogin()" style="border-radius: 0px 10px 10px 0px;" class="btn btn-primary col-md-1 text-white float-right">Найти</button>
    <input class="searchLogin float-right form-control col-md-4" style="border-radius: 10px 0px 0px 10px;" placeholder="Введите логин..." value="@(!string.IsNullOrEmpty(Model.Search) ? ViewBag.Search : string.Empty)">
    <div class="row">
        <select class="sortSelect form-control col-md-5" onchange="NewParameterInUrlFromSelect('sortSelect', 'SortOrder')">
            @foreach (var item in Model.Sort)
            {
                <option value="@item.Item2" selected="@(Model.SortOrder == item.Item2)">@item.Item1</option>
            }
        </select>
    </div>
</div>

@if (Model.TotalCount > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Login</th>
                <th>Email</th>
                <th>Адресс</th>
                <th>Название книги</th>
                <th>Статус</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderDtos)
            {
                <tr>
                    <th>@item.Login</th>
                    <th>@item.Email</th>
                    <th>@item.Address</th>
                    <th><a asp-action="Item" asp-controller="Catalog" asp-route-itemName="@item.BookNameForRoute">@item.BookName</a></th>
                    <th>
                        @{
                            if (item.Status == OrderStatus.Process)
                            {
                                <div class="status text-center blue-round">
                                    <div class="descr">В процессе</div>
                                </div>
                            }
                            else if (item.Status == OrderStatus.Sent)
                            {
                                <div class="status text-center yellow-round">
                                    <div class="descr">Отправлено</div>
                                </div>
                            }
                            else if (item.Status == OrderStatus.Ready)
                            {
                                <div class="status text-center green-round">
                                    <div class="descr">Готово</div>
                                </div>
                            }
                        }
                    </th>
                    <th>
                        <div class="btn-group">
                            <a class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </a>
                            <div class="dropdown-menu">
                                <input type="submit" value="Поменять статус" class="dropdown-item" onclick="ShowModal(@item.OrderId)" />
                                <input type="submit" value="Удалить" class="dropdown-item" onclick="" />
                            </div>
                        </div>
                    </th>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h5 class="text-danger">Пользователи не найдены!</h5>
}

@if (Model.TotalCount > Model.CountOnPage)
{
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("OrdersList", new { login = Model.Search, page = page, sortState = Model.SortOrder, }),
    new PagedListRenderOptionsBase
    {
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    })

    @section Scripts{
        <script>
            $(document).ready(function () {
                $('ul.pagination > li.disabled > a').addClass('page-link');
            });
        </script>
    }
}

    <dialog id="demo-modal">
    <div class="modal-header">
        <h5>Изменение заказа</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CloseModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    </div>
</dialog>

<script src="~/js/admin.js"></script>
<script>
    const modal = document.querySelector('dialog');
    function ShowModal(OrderId) {
        $(".modal-body").load("/Order/ChangeOrder/" + OrderId);
        modal.showModal();
    }

    function CloseModal() {
        modal.close();
    }
</script>