﻿@model EasyAnime.BLL.Dto.Account.LoginDto

<div class="row">
    <div class="col-md-5 offset-md-3">
        <form asp-action="Login" asp-controller="Account" method="post">
            <div class="form-group">
                <h4 class="text-center">Войдите в аккаунт</h4>
                <div class="validation" asp-validation-summary="All" style="margin-top: 20px;"></div>
                @Html.Label("Логин", "Логин")
                <input asp-for="Login" class="form-control">
            </div>
            <div class="form-group">
                @Html.Label("Пароль", "Пароль")
                <input asp-for="Password" class="form-control" type="password">
                <input name="ReturnUrl" value="@Model.ReturnUrl" type="hidden">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block" value="Войти">
                <span>Еще нет аккаунта? @Html.ActionLink("Создать аккаунт", "Register", new { ReturnUrl = !string.IsNullOrEmpty(Model.ReturnUrl) ? Model.ReturnUrl : null })</span>
            </div>
        </form>
    </div>
</div>