﻿@model EasyAnime.BLL.Dto.Account.RegisterDto

<div class="container">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <form asp-action="Register" asp-controller="Account" method="post">
                <div class="form-group">
                    <h4 class="text-center">Регистрация</h4>
                    <div class="validation" asp-validation-summary="All" style="margin-top: 20px;"></div>
                    @Html.Label("Login", "Логин")
                    <input asp-for="Login" class="form-control">
                </div>
                <div class="form-group">
                    @Html.Label("Password", "Пароль")
                    <input asp-for="Password" class="form-control" type="password">
                </div>
                <div class="form-group">
                    @Html.Label("PasswordConfirm", "Подтверждение пароля")
                    <input asp-for="PasswordConfirm" class="form-control" type="password">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Создать аккаунт">
                    <span>Уже есть аккаунт? @Html.ActionLink("Войти", "Login", new { ReturnUrl = !string.IsNullOrEmpty(Model.ReturnUrl) ? Model.ReturnUrl : null })</span>
                </div>
            </form>
        </div>
    </div>
</div>