﻿@{
    ViewData["Title"] = "Settings";
}

<h1>Настройки</h1>

<div class="row">
    <div class="col-md-4">
        <div style="margin-bottom: 10px;">
            <img src="@Url.Content("~/data/avatars/" + ViewBag.Avatar)" alt="Alternate Text" style="width: 210px; height: 210px;" />
        </div>
        <form asp-action="ChangeAvatar" asp-controller="Account" method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" value="Изменить" class="btn btn-primary" style="margin-top: 10px;"/>
        </form>
    </div>
    <div class="col-md-8">
        <div class="validation" asp-validation-summary="All" style="margin-top: 20px;"></div>
    </div>
</div>
