﻿@model EasyAnime.BLL.Dto.Catalog.BookDto;
@{
    ViewData["Title"] = "Сохранение книги";
}
<div class="row">
    <div class="col-md-5 offset-md-3">
        <div class="form-group">
            <h4 class="text-center">Сохранение книги</h4>
            <p class="text-center info"></p>
            <label>Название книги</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label>Название для url</label>
            <input asp-for="NameForRoute" class="form-control" />
        </div>
        <div class="form-group">
            <label>Автор</label>
            <input asp-for="Author" class="form-control" />
        </div>
        <div class="form-group">
            <label>Ссылка на картинку</label>
            <input asp-for="ImageUrl" class="form-control" />
        </div>
        <div class="form-group">
            <label>Год производства</label>
            <input asp-for="Year" class="form-control" />
        </div>
        <div class="form-group">
            <label>Цена</label>
            <input asp-for="Price" class="form-control" />
        </div>
        <div class="form-group">
            <label>Жанр</label>
            <select class="selectpicker form-control genreSelect" multiple>
                @foreach (var genre in ViewBag.GenreNames)
                {
                    if (Model.Genres != null)
                    {
                        foreach (var item in Model.Genres)
                        {
                            <option value="@genre.Id" selected="@(item.Id == genre.Id)">@genre.Name</option>
                        }
                    }
                    else
                    {
                        <option value="@genre.Id">@genre.Name</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label>Описание</label>
            <textarea id="description" asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" onclick="CreateBook()">Создать</button>
        </div>
    </div>
</div>

<script src="~/js/admin.js"></script>

