﻿@using EasyAnime.BLL.Helpers.Constants;
@model EasyAnime.BLL.Dto.Account.UserDto;
@{
    Layout = "";
}

<div class="row">
    <div class="offset-md-1 col-md-10">
        <div class="form-group">
            <p class="text-center info"></p>
            @Html.Label("Password", "Пароль")
            <input asp-for="Password" class="form-control" readonly="readonly">
        </div>
        <div class="form-group">
            @Html.Label("RoleId", "Роль")
            <select class="roleSelect form-control">
                <option value="1" selected="@(Model.RoleId == RoleTypes.User)">User</option>
                <option value="2" selected="@(Model.RoleId == RoleTypes.Moderator)">Moderator</option>
                <option value="3" selected="@(Model.RoleId == RoleTypes.Admin)">Admin</option>
            </select>
        </div>
        <div class="form-group">
            @Html.Label("Ip", "Ip-адресс")
            <input value="@Model.IpAddress" class="form-control" readonly="readonly" />
        </div>
        <div class="form-group">
            @Html.Label("IsBan", "Бан")
            <select class="banSelect form-control" onchange="ShowDesc()">
                <option value="true" selected="@(Model.IsBan)">Да</option>
                <option value="false" selected="@(!Model.IsBan)">Нет</option>
            </select>
        </div>
        <div class="form-group banDesc" style="@(string.IsNullOrEmpty(Model.BanDescription) ? "display: none;" : string.Empty)">
            @Html.Label("BanDescription", "Причина бана")
            <input class="form-control" asp-for="BanDescription">
        </div>
        <div class="form-group">
            @Html.Label("IsDeleted", "Удален")
            <select class="deleteSelect form-control">
                <option value="true" selected="@(Model.IsDeleted)">Да</option>
                <option value="false" selected="@(!Model.IsDeleted)">Нет</option>
            </select>
        </div>

        <div class="form-group">
            <input value="Сохранить" type="submit" class="btn btn-primary btn-block" onclick="SaveChangesUser()" style="margin-top: 10px;" />
        </div>
    </div>
</div>