﻿@model EasyAnime.Web.Models.AdminViewModel.UsersListViewModel;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;
@using X.PagedList;

@{
    ViewData["Title"] = "UsersList";
}
<style>
    .search {
        margin-top: 25px;
    }

    .filterSelect {
        margin-left: 16px;
    }
</style>

<h1>Список юзеров (Всего: @Model.TotalCount)</h1>
<div class="form-group search">
    <button onclick="FindByLogin()" style="border-radius: 0px 10px 10px 0px;" class="btn btn-primary col-md-1 text-white float-right">Найти</button>
    <input class="searchLogin float-right form-control col-md-4" style="border-radius: 10px 0px 0px 10px;" placeholder="Введите логин..." value="@(!string.IsNullOrEmpty(Model.Search) ? Model.Search : string.Empty)">
    <div class="row">
        <select class="sortSelect form-control col-md-5" onchange="NewParameterInUrlFromSelect('sortSelect', 'sortOrder')">
            @foreach (var item in Model.Sort)
            {
                <option value="@item.Item2" selected="@(Model.SortOrder == item.Item2)">@item.Item1</option>
            }
        </select>
        <select class="filterSelect form-control col-md-5" onchange="NewParameterInUrlFromSelect('filterSelect', 'filter')">
            @foreach (var item in ViewBag.Filters)
            {
                <option value="@item.Item2" selected="@(ViewBag.FilterSelected == item.Item2)">@item.Item1</option>
            }
        </select>
    </div>
</div>

@if (Model.TotalCount > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Логин</th>
                <th>Роль</th>
                <th>Ip</th>
                <th>Дата создания аккаунта</th>
                <th>Последний вход</th>
                <th>Забанен</th>
                <th>Активность</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserViewModels)
            {
                <tr>
                    <th>
                        @Html.ActionLink(item.Login, "UserSettings", "Admin", new { Id = item.Id })
                    </th>
                    <th>
                        @if (item.RoleId == 1)
                        {
                            <span>User</span>
                        }
                        else if (item.RoleId == 2)
                        {
                            <span>Moderator</span>
                        }
                        else if (item.RoleId == 3)
                        {
                            <span>Admin</span>
                        }
                    </th>
                    <th>@item.IpAddress</th>
                    <th>@item.AccountCreated</th>
                    <th>@item.LastEnter</th>
                    <th>
                        @if (item.IsBan)
                        {
                            <span class="text-danger">Забанен</span>
                        }
                        else
                        {
                            <span class="text-success">Не забанен</span>
                        }
                    </th>
                    <th>
                        @if (item.IsDeleted)
                        {
                            <span class="text-danger">Не активен</span>
                        }
                        else
                        {
                            <span class="text-success">Активен</span>
                        }
                    </th>
                    <th>
                        <div class="btn-group">
                            <a class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </a>
                            <div class="dropdown-menu">
                                <input type="submit" value="Настройки" class="dropdown-item" onclick="ShowModal(@item.Id, '@item.Login')" />
                            </div>
                        </div>
                    </th>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h5 class="text-danger">Пользователи не найдены!</h5>
}

@if (Model.TotalCount > Model.CountOnPage)
{
    @Html.PagedListPager((IPagedList)Model.UserViewModels, page => Url.Action("UsersList", new { login = Model.Search, page = page, sortState = Model.SortOrder, }),
    new PagedListRenderOptionsBase
    {
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    })

    @section Scripts{
        <script>
            $(document).ready(function () {
                $('ul.pagination > li.disabled > a').addClass('page-link');
            });
        </script>
    }
}

<dialog id="demo-modal">
    <div class="modal-header">
        <h5>Настройки для <span class="userLogin"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CloseModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    </div>
</dialog>

<script src="~/js/admin.js"></script>
<script>
    const modal = document.querySelector('dialog');
    function ShowModal(UserId, UserName) {
        $(".userLogin").text(UserName);
        $(".modal-body").load("UserSettings/" + UserId);
        modal.showModal();
    }

    function CloseModal() {
        modal.close();
    }
</script>